body{
    background-color:rgb(221, 57, 90);
}
.container1 {
    margin:100px auto;
    max-width:1400px;
}
img{
    width:95%;
}

.HP{
    font-size: 75px;
}

label{
    font-size:20px;
}

@media screen and (min-width:768px) {
    .container1{
        margin:190px auto;
        display:flex;
    }
    .left{
        width:45%;
    }
    .right{
        width:54.9%;
    }
    footer{
        height: 20px; /*設定footer本身高度*/
        margin-top: -50px; /*隨footer高度需做調整*/
        background-color: rgb(179, 179, 180);
    }
}